body {
    font-family: "Helvetica Neue", serif;
    margin: 3%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
/*---------- typography ----------*/
.boldText {
    font-weight: bold;
}
/*---------- header ----------*/
#header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    margin-bottom: 50px;
}

#headerTitle {
    font-size: 17px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 10px;
}
#headerTitle:hover {
    color: hotpink;
}

#headerDivider {
    width: 30%;
    border: 4px solid hotpink;
}

#navBar {
    width: 80%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.navBarItem {
    font-size: 70px;
    font-weight: bold;
}
.navBarItem:hover {
    color: hotpink;
    cursor: pointer;
    transition-duration: 0.3s;
}
/*---------- other ----------*/
.dots {
    width: 200px;
    height: 100px;
    background-size: 10px 10px;
    background-image: radial-gradient(turquoise 42%, transparent 33%);
}

#welcomeText {
    font-size: 40px;
}
/*---------- exercise one ----------*/
.oneExerciseWrapperClass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
}
.oneExerciseTitle {
    font-size: 70px;
    font-family: appleGaramond;
    color: teal;
}
.oneTaskWrapperClass {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
}
.oneTaskTitle {
    font-size: 30px;
    margin-bottom: 10px;
}
.oneTaskRequest {
    width: 70%;
    font-family: appleGaramondBoldItalic;
    font-size: 25px;
}
.oneTaskReply {
    font-size: 20px;
    width: 30%;
    text-align: justify;
    margin-bottom: 10px;
}

.oneWireframeWrapperClass {

}
.oneImgPreviewWrapperClass {
    background: rgb(255,196,248);
    background: linear-gradient(225deg, rgba(255,196,248,1) 0%, rgba(0,128,128,1) 100%);
    width: 30%;
    position: relative;
}
.oneImgPreviewClass{
    opacity: 0.5;
    width: 100%;
}

.oneButtonClass {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: appleGaramondBoldItalic;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 4px solid purple;
    padding: 16px;
    background: rgba(255, 255, 255, 0.8);
}
.oneModalClass {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: rgb(0,0,0);*/
    /*background-color: rgba(0,128,128,0.8);*/
    background: rgb(255,196,248);
    background: linear-gradient(225deg, rgba(255,196,248,0.9) 0%, rgba(0,128,128,0.9) 100%);
}

.oneModalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    row-gap: 20px;
}
.oneImgClass {
    border: 4px solid purple;
    width: 30%;
}
