/*Override defaults*/

.defaultTaskRequest {
    font-family: Helvetica Neue, sans-serif;
}
.defaultExerciseTitle {
    color: turquoise;
}
.defaultTaskWrapperClass {
    border: 4px dotted turquoise;
}
.defaultImgPreviewWrapperClass {
    background: turquoise;
}
.defaultImgPreviewWrapperClass:hover {
    background: rgb(64,224,208);
    background: linear-gradient(90deg, rgba(64,224,208,1) 0%, rgba(255,99,71,1) 100%);
}
.defaultOpenButtonClass {
    border: 4px solid turquoise;
}
.defaultOpenButtonClass:hover {
    border: 4px solid turquoise;
    background: rgba(64,224,208, 0.8);
}
.defaultCloseButtonClass {
    border: 4px solid turquoise;
}
.defaultCloseButtonClass:hover {
    border: 4px solid turquoise;
    background: rgba(64,224,208, 0.8);
    transition-duration: 0.3s;
}
.defaultModalClass {
    background: rgb(64,224,208);
    background: linear-gradient(90deg, rgba(64,224,208,0.9) 0%, rgba(255,99,71,0.9) 100%);
}
.defaultImgClass {
    border: 4px solid turquoise;
}
.defaultWireframePagePreviewWrapperClass {
    background: turquoise;
    border: 4px solid turquoise;
}
.defaultWireframePagePreviewWrapperClass:hover {
    background: rgb(64,224,208);
    background: linear-gradient(90deg, rgba(64,224,208,1) 0%, rgba(255,99,71,1) 100%);
}
.defaultWireframePageModalClass {
    background: rgb(64,224,208);
    background: linear-gradient(90deg, rgba(64,224,208,0.9) 0%, rgba(255,99,71,0.9) 100%);
}
.defaultWireframePageClass {
    border: 4px solid turquoise;
}
.defaultWireframePageRefClass {
    border: 4px solid turquoise;
}
.defaultWireframePageRefClass:hover {
    border: 4px solid turquoise;
    background: rgba(64,224,208,0.8);
    transition: all 0.3s;
}
.defaultTocWrapperClass {
    border-left: 4px dotted tomato;
}
.defaultTocDescription:before {
    color: turquoise;
}
.defaultTocTitle:hover {
    color: tomato;
}
.defaultGoToToWrapper {
    border: 4px solid turquoise;
}
.defaultGoToToWrapper:hover {
    border: 4px solid tomato;
    color: tomato;
}
.defaultCodeWrapperClass {
    border: 4px solid tomato;
}