/*Override defaults*/

.defaultTaskRequest {
    font-family: Helvetica Neue, sans-serif;
}
.defaultExerciseTitle {
    color: peru;
}
.defaultTaskWrapperClass {
    border: 4px solid peru;
}
.defaultImgPreviewWrapperClass {
    background: peru;
}
.defaultImgPreviewWrapperClass:hover {
    background: rgb(205,133,63);
    background: linear-gradient(90deg, rgba(205,133,63,1) 0%, rgba(128,128,0,1) 100%);
}
.defaultOpenButtonClass {
    border: 4px solid peru;
}
.defaultOpenButtonClass:hover {
    border: 4px solid peru;
    background: rgba(205,133,63, 0.8);
}
.defaultCloseButtonClass {
    border: 4px solid peru;
}
.defaultCloseButtonClass:hover {
    border: 4px solid peru;
    background: rgba(205,133,63, 0.8);
    transition-duration: 0.3s;
}
.defaultModalClass {
    background: rgb(205,133,63);
    background: linear-gradient(90deg, rgba(205,133,63,0.9) 0%, rgba(128,128,0,0.9) 100%);
}
.defaultImgClass {
    border: 4px solid peru;
}
.defaultWireframePagePreviewWrapperClass {
    background: peru;
    border: 4px solid peru;
}
.defaultWireframePagePreviewWrapperClass:hover {
    background: rgb(205,133,63);
    background: linear-gradient(90deg, rgba(205,133,63,1) 0%, rgba(128,128,0,1) 100%);
}
.defaultWireframePageModalClass {
    background: rgb(205,133,63);
    background: linear-gradient(90deg, rgba(205,133,63,0.9) 0%, rgba(128,128,0,0.9) 100%);
}
.defaultWireframePageClass {
    border: 4px solid peru;
}
.defaultWireframePageRefClass {
    border: 4px solid peru;
}
.defaultWireframePageRefClass:hover {
    border: 4px solid peru;
    background: rgba(205,133,63,0.8);
    transition: all 0.3s;
}
.defaultTocWrapperClass {
    border-left: 4px dotted olivedrab;
}
.defaultTocDescription:before {
    color: peru;
}
.defaultTocTitle:hover {
    color: olivedrab;
}
.defaultGoToToWrapper {
    border: 4px solid peru;
}
.defaultGoToToWrapper:hover {
    border: 4px solid olivedrab;
    color: olivedrab;
}
.defaultCodeWrapperClass {
    border: 4px dotted olivedrab;
    border-radius: 0px;
}